
@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!-- Breadcrumb start -->
    <nav class="" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="d-flex align-items-center" href="/">
                    <span>Danh sách bài viết</span>
                    <i class='bx bx-chevrons-right'></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Tạo bài viết</li>
        </ol>
    </nav>
    <!-- Breadcrumb end -->
    <!-- Button list start -->
    <div class="row px-2 gap-1">
        <a class="btn-custom btn-back col-md-2" href="/Home"> <i class='bx bx-arrow-back'></i> <span>  Quay Về </span></a>
        <button class="btn-custom btn-save col-md-2" id="submit-data-editor"> <i class='bx bx-add-to-queue'></i> <span>Tạo bài viết </span></button>
    </div>
    <div class="p-1" id="error_post"></div>
    <div class="col-md-8 col-sm-12 mb-1">
        <input type="text" maxlength="100" id="post_title" placeholder="Nhập tiêu đề cho bài viết (dưới 100 kí tự)" class="form-control" value="" />
    </div>
    <!-- Button list end -->
    <!-- Render data start-->
    <div class="dx-viewport mb-1">
        <div id="html-editor">
        </div>
    </div>
    <!-- Render data end-->
    <!-- Button list start -->
    <div class="row px-2 gap-1 mb-2 ">
        <a class="btn-custom btn-back col-md-2" href="/Home"> <i class='bx bx-arrow-back'></i> <span>  Quay Về </span></a>
        <button class="btn-custom btn-save col-md-2" id="submit-data-editor"> <i class='bx bx-add-to-queue'></i> <span>Tạo bài viết </span></button>
    </div>
    <!-- Button list end -->
</div>

<script>

    $(function () {


        const editorInstance =$("#html-editor").dxHtmlEditor({
            // ...
            toolbar: {
                items: [
                    /*{
                        widget: 'dxButton',
                        options: {
                            text: 'Tạo bài viết',
                            stylingMode: 'text',
                            onClick() {
                                alert("Sẽ tạo")
                            },
                        },
                    },*/
                    "undo",
                    "redo",
                    "separator",
                    {
                        name: "size",
                        acceptedValues: ["8pt", "10pt", "12pt", "14pt", "18pt", "24pt", "36pt"]
                    },
                    {
                        name: "font",
                        acceptedValues: ["Times New Roman","Arial", "Courier New", "Georgia", "Impact", "Lucida Console", "Tahoma", "Verdana"]
                    },
                    "separator",
                    "bold",
                    "italic",
                    "strike",
                    "underline",
                    "separator",
                    "alignLeft",
                    "alignCenter",
                    "alignRight",
                    "alignJustify",
                    "separator",
                    "orderedList",
                    "bulletList",
                    "separator",
                    {
                        name: "header",
                        acceptedValues: [false, 1, 2, 3, 4, 5]
                    },
                    "separator",
                    "color",
                    "background",
                    "separator",
                    "link",
                    "image",
                    "separator",
                    "clear",
                    "codeBlock",
                    "blockquote",
                    "separator",
                    "insertTable"
                ],
                multiline: true
            },
            tableContextMenu: {
                enabled: true
            },
            mediaResizing: {
                enabled: true
            }
        }).dxHtmlEditor("instance");



        //handle submit
        $("#submit-data-editor").click(async () => {
            const data = editorInstance.option("value");
            const Title =$("#post_title").val();
            if (data) {
                const request = await fetch(
                    '/Home/NewPost',
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ Notes: data, Title })
                    }
                )
                const res = await request.json();

                if (res.error == 0) {
            
               
                    $('#error_post').html(`<h3 class="text-success">Tạo thành công</h3>`)
                }
                else {
                    $('#error_post').html(`<h3 class="text-danger">Lỗi khi tạo bài viết</h3>`)
                }

         
            }
        })
    });
</script>

