@{
    ViewBag.Title = "Home Page";
}

<style>
    .article-image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .article-title,.article-text {
        color: #333;
    }

        .article-title:hover {
            color: #20acda;
        }
</style>


<!-- Breadcrumb start -->
<nav class="" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="d-flex align-items-center" href="/">
                <span>Danh sách bài viết</span>
                <i class='bx bx-chevrons-right'></i>
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Tất cả bài viết</li>
    </ol>
</nav>
<!-- Breadcrumb end -->



<!-- Button list start -->
<div class="row px-2">
    <a class="btn-custom btn-create col-md-2 col-sm-12 col-xs-12" href="/Home/CreatePost"> <i class='bx bx-add-to-queue'></i> <span>Tạo bài viết </span></a>
</div>
<!-- Button list end -->



<!-- Render data start-->
<div id="main_post">
</div>
<!-- Render data end-->



<script>
    function filterUniqueItems(arr) {
        const uniqueSet = new Set(arr);
        const uniqueArr = [...uniqueSet];
        const uniqueStr = uniqueArr.join(' ');
        return uniqueStr;
    }
    function getEstimatedTime(text) {
        const words = text.split(' ');
        const wordCount = words.length;
        const secondsPerWord = 0.4;
        const totalSeconds = wordCount * secondsPerWord;
        let totalMinutes = Math.ceil(totalSeconds / 60);

        if (totalMinutes >= 60) {
            const hours = Math.floor(totalMinutes / 60);
            const minutes = totalMinutes % 60;
            return `${hours} giờ ${minutes} phút đọc`;
        } else {
            return `${totalMinutes} phút đọc`;
        }
    }
    const loadPost = async () => {
        $('#main_post').html(`<div>Loading.....</div>`)
        const req = await fetch('/home/getpost');
        const res = await req.json();

        if (res.error < 0) {
            return $('#main_post').html(`<h3 class="text-danger">Lỗi khi lấy bài viết....</h3>`)

        }
        else {
            const data = res.data;
            let postItemHtml = ''

            data.forEach(item => {

             

                //Get first image of post for cover photo
                const parser = new DOMParser();
                const htmlDoc = parser.parseFromString(item.Notes, 'text/html');
                const texts = Array.from(htmlDoc.querySelectorAll('*'))
                    .map(element => element.textContent.trim())
                    .filter(text => text !== '');
                var text = filterUniqueItems(texts).split(' ').slice(0, 50).join(' ') + ".....";
                var estimatedTime = getEstimatedTime(filterUniqueItems(texts));
                const firstImg = htmlDoc.querySelector('img');
                const srcImg = firstImg.getAttribute('src');
                var time = convertDate(item.CreatedDate)
       
                postItemHtml += `
                    <a href="/Home/DetailPost/${item.Id}">
                        <div class="article p-0 gap-1 row mt-2 mb-3">
                             <div class="article-image col-md-4">
                                <img src="${srcImg}" alt="Image">
                             </div>
                             <div class="article-content col-md-4 col-sm-12">
                                <h2 class="article-title">${item.Title}</h2>
                                <div class="d-flex justify-content-between">
                                <div class="article-time">${time}</div>
                                <div class="article-time">${estimatedTime}</div>
                                 </div>
                                <div class="article-text">${text}</div>
                             </div>
                         </div>
                    </a>

            `
            })
            $('#main_post').html(postItemHtml);

        }
    }


    loadPost()
</script>