<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet" />

    @Styles.Render("~/style/custom")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- DevExtreme theme -->
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.3/css/dx.light.css">
    <!--Function-->
    <script defer>
        function convertDate(dateString) {
            // Lấy số từ chuỗi ngày tháng
            var date = new Date(parseInt(dateString.substr(6)));

            // Tính khoảng thời gian giữa ngày hiện tại và ngày truyền vào
            var seconds = Math.floor((new Date() - date) / 1000);
            var minutes = Math.floor(seconds / 60);
            var hours = Math.floor(minutes / 60);
            var days = Math.floor(hours / 24);
            var months = Math.floor(days / 30);
            var years = Math.floor(months / 12);

            // Trả về chuỗi dạng 1 giây trước, phút trước, giờ trước, ngày trước, tháng trước, năm trước tùy vào khoảng thời gian
            if (seconds < 60) {
                return seconds + " giây trước";
            } else if (minutes < 60) {
                return minutes + " phút trước";
            } else if (hours < 24) {
                return hours + " giờ trước";
            } else if (days < 30) {
                return days + " ngày trước";
            } else if (months < 12) {
                return months + " tháng trước";
            } else {
                return years + " năm trước";
            }
        }

    </script>
    <!--Function-->
    <style>
        .btn-custom {
            display: block;
            font-size: 12px;
            padding: 7px;
            text-align: center;
            border: none;
            outline: none;
            overflow: hidden;
            border-radius: 5px;
            justify-content: center;
            color: white;
        }

            .btn-custom:hover {
                color: white;
            }

            .btn-custom:focus {
                outline: none;
                border: none;
                overflow: hidden;
            }

            .btn-custom.btn-create {
                background-color: #20acda;
            }

                .btn-custom.btn-create:hover {
                    background-color: #6ecbea;
                }

            .btn-custom.btn-edit {
                background-color: #20acda;
            }

                .btn-custom.btn-edit:hover {
                    background-color: #6ecbea;
                    color: white;
                }

            .btn-custom.btn-del {
                background-color: #f95555;
            }



                .btn-custom.btn-del:hover {
                    background-color: #f06464;
                    color: white;
                }

            .btn-custom.btn-back {
                background-color: #93a4e8;
            }

                .btn-custom.btn-back:hover {
                    background-color: #7192bf;
                    color: white;
                }

        .btn-save {
            background-color: #20acda;
        }

            .btn-save:hover {
                background-color: #6ecbea;
            }


        .breadcrumb-item + .breadcrumb-item::before {
            display: none;
        }

        .dx-htmleditor-content img {
            vertical-align: middle;
        }

        .dx-htmleditor-content table {
            width: 50%;
        }

            .dx-htmleditor-content table td:last-child {
                text-align: right;
            }
    </style>
</head>

<body id="body-pd">

    <!-- MESSENGER PLUGIN CHAT START -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "134763690726365");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>
    <!-- MESSENGER PLUGIN CHAT END -->



    <!-- FACEBOOK PLUGIN START -->
    <div id="fb-root"></div>
    <!-- FACEBOOK PLUGIN END -->


    <!-- HANDLE FACEBOOK PLUGIN START -->
    @*    <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: 280910524463703,
                    cookie: true,                     // Enable cookies to allow the server to access the session.
                    xfbml: true,                     // Parse social plugins on this webpage.
                    version: 'v17.0'           // Use this Graph API version for this call.
                });


                FB.getLoginStatus(function (response) {   // Called after the JS SDK has been initialized.
                    if (response.status === 'connected') {

                    } else {
                        console.log("::facebook check: chưa login -> navigation")
                        window.location.href = "/FacebookAuth/login"

                    }
                });
            };
            function logout() {
                FB.logout(function (response) {
                    window.location.href = "/FacebookAuth/logout"

                });
            }


            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>*@
    <!-- HANDLE FACEBOOK PLUGIN END -->




    <!-- HEADER START -->
    <header class="header" id="header">
        <div class="header_toggle">
            <i class='bx bx-menu' id="header-toggle"></i>

        </div>
        <div class="header_info d-flex justify-center align-items-center">
            <h5>Khang</h5>
            <div class="header_img"> <img src="https://res.cloudinary.com/dxshs8qrh/image/upload/v1686623940/goldenlogo_iwtcf0.png" alt=""> </div>
        </div>


    </header>
    <!-- HEADER END -->






    <!-- SIDE BAR START -->
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="/" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Sen Vàng</span> </a>
                <div class="nav_list">
                    <a href="/" class="nav_link active"> <i class='bx bx-comment-detail nav_icon'></i> <span class="nav_name">Bài viết</span> </a>
                    @*<a href="/Instagram/Index" class="nav_link active"> <i class='bx bxl-instagram nav_icon'></i> <span class="nav_name">Instagram</span> </a>*@
                    @* <a href="/social" class="nav_link"> <i class='bx bx-comment-dots nav_icon'></i> <span class="nav_name">Social</span> </a>*@
                    @*    <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Messages</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Bookmark</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a>
                        <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> </a>*@
                </div>
            </div>
            <span onclick="logout();" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </span>
        </nav>
    </div>
    <!-- SIDE BAR END -->





    <!--RENDER BODY START-->
    <div class="container-fluid">
        @RenderBody()
    </div>
    <!--RENDER BODY END-->



    
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



    <!--DEVXTREME START-->
    <script src="https://cdn3.devexpress.com/jslib/23.1.3/js/dx-quill.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.1.3/js/dx.all.js"></script>
    <!--DEVXTREME END-->



    @Scripts.Render("~/script/sidebar")
    @RenderSection("scripts", required: false)


</body>
</html>










